
<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
            <meta name="viewport" width="device-width, initial-scale=1">
            <meta name="description" content="{{ page.description }}">
            <meta name="author" content="Haihao Guo">
            <!-- favicon
            <link rel="shortcut icon" href="/img/ico/favicon.png">
            -->
            <title>{{ page.title }} | Haihao Guo | Master of Computational Social Science in UChicago.</title>
            <!-- styles -->
            <link href="/css/bootstrap.css" rel="stylesheet">
            <link href="/css/jumbotron-narrow.css" rel="stylesheet">
            <link href="/css/style.css" rel="stylesheet">
		</head>
		<body>
			</div><!-- /.container -->
				<div class="container">
				<header>
					<ul class="nav nav-pills pull-right">
						<li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li>
						<li class="{{ page.research }}"><a href="/research" title="Research">Research</a></li>
						<li class="{{ page.notes }}"><a href="/notes" title="Notes">Notes</a></li>
						<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
					</ul>
					<h3 class="text-muted"><a href="/">Haihao Guo</a></h3>
				</header>

				{{ content }}

				<footer>
					<div class="row">
					<div class="col-sm-8">
					<p><small>&copy; Haihao 2020</small></p>
					</div>
					<div class="col-sm-4">
					<p class="pull-right"><small><a href="/about" title="About this site">About this site</a></small></p>
					</div>
					</div>
				</footer>
			</div><!-- /.container -->

			<script src="https://code.jquery.com/jquery.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/library.js"></script>
			<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>


		</body>
	</html>